body {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: #4b3b63;
    font-family: Georgia, serif;
    text-align: center;
    margin: 0;
    padding: 50px;
}

h1 {
    font-size: 4em;
    color: #7b5ea7;
}

p {
    font-size: 1.3em;
}
.hero {
    background-color: rgba(255, 245, 250, 0.75);
    border-radius: 25px;
    padding: 50px;
    max-width: 900px;
    margin: 40px auto;
}
